{% extends './base.html' %}
{% block content %}
    <h1 style="text-align: center; margin: 20px;">Register Form</h1>
    <div style="width: 33%; margin: auto;">

        <form action="{% url 'register' %}" method="POST">{% csrf_token %}
            <div class="mb-3">
                <label for="username1" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}
    